$outline: #a0aaaa;
$shadow: #3c3f4a70;
$icon: #36454f;
$background: #1b4965;
$light: #cae9ff;
$accent: #0073ff;
$offWhite: #fffafa;
$lightGrey: #d3d3d3;
$button: #00ccff;
$textGrey: #a3a3a3;
$iconTransition: $offWhite; //#040430;
$buttonTransition: #36454f;
$messageGrey: #838383;
